.fieldset {
  text-align: left;
  display: flex;
  flex-direction: column;
  .input {
    display: flex;
    border-radius: 4px;
    padding: 14px 16px;
    border: 1px solid #d0cfcf;
    width: 100%;
    box-sizing: border-box;
  }
  .errorMessage {
    color: red;
  }
}
