$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$secondary-background-color: #ffffff;
$button-hover-color: #FFE302;
$main-text-color: rgba(0, 0, 0, 0.87);
$hero-text-color: #ffffff;